body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*  Menu bar  */ 
.menu-bar {
    background-color: #FFF4ED;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu-left{
    width: 75%;
}
.menu-left ul li {
    display: inline;
    padding-left: 50px;
}
.menu-left ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #575757;
}
.menu-left a:hover{
    color: #FE5F41;
}
.menu-right {
    width: 25%;
    margin-top: -50px;
    float: right;
}
.menu-right input {
    padding: 11px 15px;
    border-color: #FC934A;
    background-color: #ffffff;
    border-radius: 10px;
}
.menu-right button {
    border: none;
    background-color: #FC934A;
    padding: 12px 20px;
    border-radius: 8px;
    margin-left: 10px;
    color: white;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
/*  Menu bar end  */ 

/* first section */
h1{
    font-size: 50px;
}
.header-color{
    color: orange;
}

.flxible-container{
    display: flex;
    margin-bottom: 100px;
    padding: 10px 20px;
}
.top-banner{
    margin-top: 10%;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    padding-right: 5px;
}
.half-width img {
    width: 90%;
    float: center;
}
.half-width h1{
    color: #575757;
    margin-top: 90px;
}
.half-width p {
    color: #575757;
    margin-bottom: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}
.link-button:hover{
    text-decoration: underline;
    color: black;
}
/* header  end*/

/* about section*/
.about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px ;
}
.about img{
    width: 60%;
    float: right;
    margin-right: 20%;
    margin-top: 20%;
}
/* about section end*/

/*recipies section*/
.recipies h2{
    text-align: center;
    color: #575757;
}
.recipies p{
    text-align: center;
    padding: 0 25%;
    color: #575757;   
}
.recipies-section{
    margin-top: 0;
}
.recipies-item{
    width: 27%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 15px;
    box-shadow: 10px 10px 30px #b3b3b3;
    border-radius: 15px;
}
.recipies-item img{
    width: 100%;
    border-radius: 15px;
}
/*recipies section end*/

/* Subscribers Section */
.section-subscribe{
    padding: 50px 8%;
}
.subscribe-row{
    border-radius: 15px;
    box-shadow: 10px 5px 25px #b3b3b3;
}
.subscribe{
    width: 33%;
    text-align: center;
    padding: 15px 0;
}
.subscribe p{
    margin: 0;
}
/* Subscribers Section end*/

/*Subscribe section*/
.newsletter {
    padding-bottom: 120px;  
    padding-top: 20px;
    text-align: center;
}
.news-head p {
    font-size: 22px;
}
.news-head h1 {
    font-size: 50px;
    margin-top: -10px;
}
.news-box input {
    padding: 21px 82px;
    border: 1px solid #FC934A;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    outline: none;
}
.news-box button {
    border:2px solid transparent;
    background-color: #FC934A;
    padding: 22px 40px;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    margin-left: 25px;
}
.news-box button:hover{
    background-color: white;
    border: 2px solid #FC934A;
    color: black ;
}
/* Subscribe section end*/

/*footer section */
footer{
    background-color: black;
    padding: 25px 0;
}

footer div{
    text-align: center;
}

footer div h2{
    color: #fff;
    text-transform: uppercase;
}

.food{
    color: tomato;
}

footer div p{
    margin: 0;
    color: #fff;
}
/*footer section */